<ion-view view-title="Car Logos">
<ion-nav-bar class="bar-calm-900 main-header-nav home-page">
    <ion-nav-back-button class="button-clear go-back">
      </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
  <div style="width:100%;height:150px;background:url(img/offer1.jpg) no-repeat center;background-size:cover;">
  </div>
  <span nav-clear="" class="padding item item-complex dark" style="padding-top:0px;" >Shop By Logo</span>
    <div class = "row">
	   <a class = "col col-border-pravn item" href="#/app/categories/cars">
	   		<div align="center"><img class="img-fullsize" src="img/carlogo1.jpg"/> </div>
	   		<div><h4><b>AUDI</b></h4></div>
	   </a>
	   <div class = "col col-border-pravn item">
	   		<div><img src="img/carlogo2.jpg" width="120" height="100"/> </div>
	   		<div><h4><b>BMW</b></h4></div>
	   </div>
	</div>
	<div class = "row">
	   <div class = "col col-border-pravn item">
	   		<div align="center"><img class="img-fullsize" src="img/carlogo3.jpg"/> </div>
	   		<div><h4><b>BUGATTI</b></h4></div>
	   </div>
	   <div class = "col col-border-pravn item">
	   		<div><img src="img/carlogo4.jpg" width="120" height="100"/> </div>
	   		<div><h4><b>CHEVROLET</b></h4></div>
	   </div>
	</div>
  </ion-content>
</ion-view>
